extends layouts/layout

block content
    .container
        form.form-horizontal(method='post',action='/neuesProjekt/addProjekt')
            fieldset
                // Form Name
                legend Neues Projekt anlegen
                // Text input
                .form-group
                    label.col-md-4.control-label(for='projektname') Projektname
                    .col-md-4
                        input#projektname.form-control.input-md(name='projektname', type='text')
                // Textarea
                .form-group
                    label.col-md-4.control-label(for='projektbeschreibung') Projektbeschreibung
                    .col-md-4
                        textarea#projektbeschreibung.form-control(name='projektbeschreibung')

                table.table
                    thead
                        tr: th ID
                            th Name
                            th Resource
                            th Startdatum
                            th Enddatum
                            th Dauer
                            th Status in %
                            th ID Abhängigkeit
                            th Reihe löschen
                    tbody#tabelle

                        tr.reihe
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='number', placeholder='ID',name='idGantt')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='text', placeholder='Name',name='name')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='text', placeholder='Resource',name='resource')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='date', placeholder='Startdatum',name='startDatum')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='date', placeholder='Enddatum',name='endDatum')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='number', placeholder='Dauer',name='dauer')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='number', placeholder='Status',name='statusInProzent')
                            td
                                .form-group
                                    label.col-md-12.control-label
                                        input.form-control.input-md(type='text', placeholder='ID Abhaenigikeit',name='abhaengigkeitIdGantt')
                            td
                                .form-group
                                    a(class='btn btn-danger reiheLoeschen', href='#') X
            // Button Reihe hinzufuegen
            a(class='btn btn-primary', id='reiheHinzufuegen', href='#') Reihe hinzufügen
                script.
                    var i = 0;
                    $(document).on("click", "#reiheHinzufuegen", function () {

                        $("#tabelle").append("<tr class='reihe'> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='text' placeholder='ID' name='idGantt' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='text' placeholder='Name' name='name' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label' class='col-md-12 control-label'> <input type='text' placeholder='Resource' name='resource' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='date' placeholder='Startdatum' name='startDatum' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='date' placeholder='Enddatum' name='endDatum' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='number' placeholder='Dauer' name='dauer' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='number' placeholder='Status' name='statusInProzent' class='form-control input-md'/> </label> </div> </td> <td> <div class='form-group'> <label class='col-md-12 control-label'> <input type='text' placeholder='ID Abhaenigikeit' name='abhaengigkeitIdGantt' class='form-control input-md'/> </label> </div> </td><td> <div class='form-group'><a href='#' class='btn btn-danger reiheLoeschen'>X</a></div> </td> </tr>")


                    })
                    $(document).on("click", ".reiheLoeschen", function () {
                        $(this).closest("tr").remove();

                    });

                    $(document).on("click", "#sichern", function () {
                        $("[name='idGantt']").each(function (index) {
                            var reihenfolge = ($(this).val());
                            $(this).parent().parent().parent().parent().attr('class', 'reihe' + index);
                            $(".reihe" + index).find("[name='idGantt']").attr('name', 'schritte[' + reihenfolge + '][idGantt]');
                            $(".reihe" + index).find("[name='name']").attr('name', 'schritte[' + reihenfolge + '][name]');
                            $(".reihe" + index).find("[name='resource']").attr('name', 'schritte[' + reihenfolge + '][resource]');
                            $(".reihe" + index).find("[name='startDatum']").attr('name', 'schritte[' + reihenfolge + '][startDatum]');
                            $(".reihe" + index).find("[name='endDatum']").attr('name', 'schritte[' + reihenfolge + '][endDatum]');
                            $(".reihe" + index).find("[name='dauer']").attr('name', 'schritte[' + reihenfolge + '][dauer]');
                            $(".reihe" + index).find("[name='statusInProzent']").attr('name', 'schritte[' + reihenfolge + '][statusInProzent]');
                            $(".reihe" + index).find("[name='abhaengigkeitIdGantt']").attr('name', 'schritte[' + reihenfolge + '][abhaengigkeitIdGantt]');
                            console.log(index);
                        });
                        $("form").submit();
                    });
            // Button
            a(class='btn btn-success', id='sichern', href='#') Projekt anlegen